@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

.top-page {
  background-color: #83e5fb;
}
.top-page .container {
  max-width: 130rem;
  margin: auto;
}
.top-page .container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}
.top-page .container .header .logo {
  font-size: 2.5rem;
}
.top-page .container .header ul li {
  display: inline-block;
  margin-right: 2rem;
}
.top-page .container .header ul li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.top-page .container .header .right-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-page .container .header .right-header .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.1em 0.5em;
  margin-right: 1rem;
  width: 30rem;
}
.top-page .container .header .right-header .search-box input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
}
.top-page .container .header .right-header .cart-icon {
  margin: 0.5rem;
  font-size: 3rem;
}
.top-page .container .header .right-header .account-icon {
  font-size: 2.5rem;
}
.top-page .container .row-1 {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.top-page .container .row-1 .col-2 {
  flex: 50%;
}
.top-page .container .row-1 .col-2 .picture-1 {
  width: 32rem;
  height: 32rem;
  background-color: #d7d7d7;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  overflow: hidden;
}
.top-page .container .row-1 .col-2 .picture-1 img {
  width: 100%;
}
.top-page .container .row-1 .col-2 .picture-2 {
  width: 32rem;
  height: 32rem;
  background-color: #d7d7d7;
  border-radius: 50%;
  overflow: hidden;
}
.top-page .container .row-1 .col-2 .picture-2 img {
  width: inherit;
  height: inherit;
}
.top-page .container .row-1 .col-2 .picture-3 {
  width: 32rem;
  height: 32rem;
  background-color: #d7d7d7;
  border-radius: 50%;
  overflow: hidden;
}
.top-page .container .row-1 .col-2 .picture-3 img {
  width: inherit;
  height: inherit;
}
.top-page .container .row-1 .col-2 .picture-4 {
  width: 32rem;
  height: 32rem;
  background-color: #d7d7d7;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  overflow: hidden;
}
.top-page .container .row-1 .col-2 .picture-4 img {
  width: inherit;
}
.top-page .container .row-1 .col-2 h1 {
  font-size: 6rem;
  line-height: 8rem;
  margin-bottom: 4rem;
}
.top-page .container .row-1 .col-2 p {
  margin-bottom: 6rem;
  font-size: 2.5rem;
  line-height: 4rem;
}
.top-page .container .row-1 .col-2 a {
  background-color: black;
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 15rem;
  text-align: center;
  padding: 2rem 0;
}
.top-page .container .row-1 .right {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-end;
  gap: 1rem;
  padding: 5em 0;
}/*# sourceMappingURL=style.css.map */
